
.navigationBar{
	margin: 1.2% 0;
	letter-spacing: 1px;
}

li.opcao{
    border-top:  2px solid transparent;
    border-bottom: 2px solid transparent;
    height: 90px;
}

li.opcao:hover{
    height: 90px;   
    border-top: 2px solid #238E23;
    border-bottom: 2px solid #238E23;
}

.opcaoSelected{
    border-top: 2px solid #428BCA!important; 
    border-bottom:  2px solid #428BCA!important;
}

.bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}
/*input{text-transform: uppercase;}*/