

#error{display: none;position:absolute;width: 100% box-shadow: 0 0 12px #ed9393 inset;font-size: 16px;}

h1
{
  color:#2b8421;
  font-size: 58px;
  position: relative;
  left: 15%;
}
.form-signin {
	position: relative;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  top:10em;
  border-radius: 12px;
background-color: #f7f7f7;
box-shadow: 0 0 3px #222;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"],.form-signin input[type="password"] {
  margin-bottom: 5px;
  
}
.form-signin input[type="text"]:focus,.form-signin input[type="password"]:focus {
	border-color: #c2d2ef;
}
.form-signin-heading
{
	font:34px sans-serif,arial,verdana;
	color:#10773a;
	text-shadow:0 0 1px #dbd230;

}
.btn-success{
	background-color:#dbd230;
	border:none;
	box-shadow: 0 0 12px #e8de25 inset,0 0 3px #e8df68 ;
	transition:background-color 0.45s;
	color:#2e774d;

}
.btn-success:hover
{
	background-color:#e8de25;
	box-shadow: 0 0 8px #ede24e ;
	color:#31a05f;
};
