/*
	Folha de estilo para a Tela de Cadastro de Espécies

	Author:Jean Fabrício 
	Date:14/01/2014

*/


/*
	Folha de estilo para a Pedidos

	Author:Jean Fabrício 
	Date:04/03/2014

*/

.fo1
{
	padding:3px;
}

.he{height: 3.75em}
.block
{
	border:1px solid #9ab7a6;
	border-radius: 12px;
	background-color: #fcfcfc;
	opacity: 0.88;
	box-shadow: 0 0 3px #ccc;
	width: 90em;


}

.s9{font-size: 9px;}
.s10{font-size: 10px;}
.s11{font-size: 11px;}
.s12{font-size: 12px;}
.s13{font-size: 13px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s17{font-size: 17px;}
.s18{font-size: 18px;}
.s19{font-size: 19px;}
.s20{font-size: 20px;}
.s21{font-size: 21px;}
.s22{font-size: 22px;}
.s23{font-size: 23px;}
.s24{font-size: 24px;}
.s25{font-size: 25px;}
#tabela{border:1px solid #ccc;box-shadow: 0 0 2px #ccc}
#tabela thead th{background-color: #6ec96e;color:#fff;text-align: center;}
.legen{width:7.5em;margin-left:25px;padding:0px; border:1px solid #9ab7a6;color:#a3a313;}

#add{color:#54b754!important;left:20%;font-size: 27px;top:3px;position: relative;}
#add:hover{color:#83d183!important;cursor:pointer;}
.fechar{position:relative; left:20%; font-size: 27px;top:3px;}
.fechar:hover{color:#dd4f4f;cursor:pointer;}
#item{width: 4em;}

.table-striped > tbody > tr:nth-child(2n+1) > th{background-color: #fcf9d4}

/*.label{color:#468847;}*/
#buscar{padding-top:1px;padding-bottom:1px;}
#caixa_busca
{
	position: absolute;
	top: 100%;
	left: 0;
	width: 19em;
	z-index: 1000;
	min-width: 160px;
	padding: 15px;
	margin: 2px 0 0;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;

}

.fixed-height
{
	height: 200px; 
	overflow: auto;
	color:#529653;
}


