/*
	Folha de estilo para a Tela de Cadastro de Produtos

	Author:Jean Fabrício 
	Date:17/01/2014

*/


h1{color:#238e23;}

.fo1
{
	padding:3px;
	
}
.fo1 label{color:#5bb782;}


.block
{
	border:1px solid #9ab7a6;
	border-radius: 12px;
	background-color: #fcfcfc;
	opacity: 0.88;
	box-shadow: 0 0 3px #ccc;


}
.block legend{background-color: #fff;border-radius: 8px;width:7em;padding-left:5px;}
.legen{width:6em;margin-left:25px;	padding:5px; border:1px solid #9ab7a6;color:#a3a313;}


.s9{font-size: 9px;}
.s10{font-size: 10px;}
.s11{font-size: 11px;}
.s12{font-size: 12px;}
.s13{font-size: 13px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s17{font-size: 17px;}
.s18{font-size: 18px;}
.s19{font-size: 19px;}
.s20{font-size: 20px;}
.s21{font-size: 21px;}
.s22{font-size: 22px;}
.s23{font-size: 23px;}
.s24{font-size: 24px;}
.s25{font-size: 25px;}


.caixa_destaque{border:1px solid #ccc;border-radius: 6px;padding-bottom:10px;margin-top:0px; left:30px;}
.title{position: relative;padding:2px;box-shadow: 0 0 1px #999;color:#215921;font-size: 12px;left:-9%;top:-14px;background-color: #fff;}
.dinamico{margin-bottom:20px;width:200px;margin-left:65px;}

#view:hover{background-color: #4CAE4E;cursor: pointer;}