

/* Propriedades referentes a tabela que recebera os atributos ja cadastrados para um determinado set */
table.recoveredAtributes{
    border:  1px solid black;
}

table#newatts{
    margin: 6% 0 6% 0;
}

/* Propriedades referentes ao texto cabecalho (caption), da tabela table#recoveredAtributes */
table.recoveredAtributes caption{
    background-color: #DEDEDE; 
    border: 1px solid black;
}

table.recoveredAtributes tr td textarea, table#newatts tr td textarea{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 40px;
    min-height: 40px;
    max-height: 60px;   
}

table.recoveredAtributes caption#oldAttsCap{
    width: 100%;
}

div.parametersOfSpecie {
    width: auto; 
    margin-right: 2%;
}